loguru==0.6.0
yagmail==0.15.277
imap_tools==0.55.0
pendulum==2.1.2
chardet==4.0.0
pandas==1.4.2
vkbottle==4.3.4
vk_api==11.9.8
aiohttp==3.8.1
aiogram==2.20
httplib2==0.20.4
icalendar==4.0.9
requests==2.28.0
configparser==5.2.0
PyGithub==1.55
ujson==5.3.0
aiodns==3.0.0
nextcord==2.0.0a8
aiogram-broadcaster==0.0.7
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844