loguru==0.7.3
yagmail==0.15.293
imap-tools==1.11.1
pendulum==3.2.0
chardet==5.2.0
pandas==3.0.0
vkbottle==4.6.2
aiohttp==3.13.3
aiogram==3.25.0
icalendar==7.0.0
PyGithub==2.8.1
nextcord==3.1.1
xlsxwriter==3.2.9

# Для тестирования
pytest==7.4.4
