loguru==0.6.0
yagmail==0.15.277
imap_tools==0.51.0
pendulum==2.1.2
chardet==4.0.0
pandas==1.4.1
vkbottle==4.2.0
vk_api==11.9.7
aiohttp==3.8.1
aiogram==2.19
httplib2==0.20.4
icalendar==4.0.9
requests==2.27.1
configparser==5.2.0
PyGithub==1.55